body {
    background-color: rgb(25, 25, 100);
}

.title h1 {
    margin-left: 340px;
    margin-right: 340px;
    color: rgb(255, 0, 0);
    font-size: 40px;
    text-align: center;
    border: solid 1px;
    border-radius: 0 60px 0 60px;
    border-color: rgb(255, 0, 0);
}

img {
    display: block;
    margin: 0 auto;
}

p {
    color: white;
    font-size: 24px;
    text-align: left;;
}

a {
    color: rgb(255, 43, 0);
    font-size: 34px;
    text-align: center;
}

a:hover {
    color: #f60;
}

.body {
    display: flex;
    flex-direction: row;
}

.media {
    margin-left: 20px;
    margin-right: 12px;
}

.media h1 {
    color: rgb(255, 255, 255);
}

.media img{
    width: 300px;
}

.inf {
    margin-left: 12px;
    margin-right: 12px;
}

.inf p {
    margin-top: 0px;
}

.inf h1 {
    color: #fff;
}

.actors_and_rating {
    margin-left: 12px;
    margin-right: 20px;
}

.actors_and_rating div{
    margin-bottom: 16px;
}

.actors_and_rating p {
    font-size: 26px;
    color: #f60;
}

.actors_and_rating u {
    color: #0f0;
    font-size: 26px;
    padding-bottom: 16px;
}

.actors p {
    color: rgb(255, 200, 0);
    font-size: 28px;
}

.actors a {
    color: #fff;
    font-size: 22px;
}

.actors a:hover {
    color: #f60;
}

.series {
    list-style: none;
    font-size: 20px;
}

.series li {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff80;
}

.criteria {
    font-size: 22px;
    display: inline-block;
    width: 250px;
    color: rgb(255, 218, 86);
}

.data {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.whitespace {
    color: transparent;
}

.data:hover {
    color: #f60;
}