body {
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    margin: 0px;

}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(137, 137, 141, 0.9);
    background-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 40px;
}

.home {
    background-image:url("https://wallpaperaccess.com/full/38644.jpg");
    background-size: cover;
    border-bottom: solid 5px rgb(255, 255, 150);
}

.header {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    border-bottom: solid 3px rgb(0, 230, 0);
}

.inf {
    display: flex;
    flex-direction: row;
}

.header img {
    width: 74px;
    height: 74px;
    border: solid 2px rgb(0, 230, 0);
    border-radius: 50%;
}

ul.ul li{
    display: inline;
    padding-right: 30px;
    font-size: 28px;
}

ul.ul a {
    font-size: 28px;
    color: rgb(0, 230, 0);
}

ul.ul a:hover{
    color: rgb(0, 170, 0);
}

button {
    background-color: rgb(0, 170, 0);
    border-color: rgb(0, 230, 0);
    border-radius: 10px;
    font-size: 28px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 40px;
    margin-left: 10px;
}

button a {
    color: rgb(255, 255, 255);
}

.person {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 1px;
}

.person_description h1 {
    color: rgb(255, 253, 150);
    font-size: 44px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.person_description h2{
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(255, 253, 150);
    padding-bottom: 72px;
    font-family: 'Times New Roman', Times, serif;
}

.home img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.footer {
    background-color: rgb(0, 0, 131);
    border-top: solid rgb(0, 0, 0) 3px;
}

.footer h1{
    text-align: center;
    color: rgb(0, 255, 255);
    font-size: 30px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about_me {
    padding-top: 50px;
}

.about_span {
    border-left: solid 2px rgb(255, 255, 255);
    padding-left: 10px;
}

.about_me h2 {
    color: #ffffff;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}

.about_me p {
    font-size: 24px;
    color: #fff;
}

.about_me ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.about_me li {
    color: #fff;
    font-size: 24px;
}

.about_me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    justify-content: center;
}

.about_me img {
    height: 450px;
    width: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    border: solid 1px rgb(255, 255, 255);
    z-index: 0;
}

.info  {
    margin: 0 60px;
}

.info ul {
    border: 2px solid #ffffff;
    padding: 15px;
    columns: 2;
    display: block;
}

.About {
    padding-top: 50px;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch4-mynt-23_1.jpg?bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1200&s=62133c581ec462570e938e75b4e21089);
    background-size: 100%;
    border-bottom: solid 5px rgb(255, 255, 150);
}

.resume {
    padding-top: 22px;
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch4-mynt-23_1.jpg?bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1200&s=62133c581ec462570e938e75b4e21089);
    background-size: 100%;
    border-bottom: solid 5px rgb(255, 255, 150);
}

.resume_head {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.resume_head p {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 71px;
    font-family: 'Times New Roman', Times, serif;
}

.resume ul {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding: 24 24 0 24px;
}

.resume_main {
    display: flex;
    flex-direction: row;
}

.resume img {
    width: 200px;
    height: 154px;
    padding: 24px;
}

.resume h1 {
    font-size: 32px;
    padding-left: 24px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.resume h2 {
    padding-left: 14px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

.resume ul {
    margin: 0px;
}

.last {
    margin-bottom: 11px;
}

.resume li {
    margin-top: 11px;
    list-style: none;
}

.right {
    margin: 0px;
    margin-top: 24px;
    margin-left: 40px;
    padding: 24 24 0 24px;
    font-size: 20px;
}

.data {
    margin: auto;
    margin-bottom: 72px;
    margin-top: 0px;
    border: solid 1px #fff;
    border-radius: 8px;
}

td {
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-right: 35px;
    background-image: url(https://www.borastapeter.com/sites/borastapeter.com/files/styles/product_teaser_l_x1/public/product-images/SoftLinen_Image_Tile_Item_4402.jpg.jpg?itok=XuUN0kQX&timestamp=1583444702);
}

table {
    background-color: #000;
    border: solid 3px rgb(255, 255, 255);
}
    
.resume li.skills {
    list-style: circle;
}

.portfolio {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch4-mynt-23_1.jpg?bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1200&s=62133c581ec462570e938e75b4e21089);
    background-size: 100%;
    border-bottom: solid 5px rgb(255, 255, 150);
}

.portfolio_head {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 130px;
    padding-bottom: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
}

.SD {
    display: block;
    text-align: center;
    font-size: 25px;
    color: rgb(230, 0, 0);
}

.SD1 {
    width: 300px;
    height: 230px;
}

.SD2 {
    width: 300px;
    height: 230px;
}

.portfolio_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

.m_s {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.6)
}

.contacts {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch4-mynt-23_1.jpg?bg=F4F4F3&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=1200&s=62133c581ec462570e938e75b4e21089);
    background-size: 100%;
    padding-top: 110px;
    padding-bottom: 30px;
}

.contacts_head {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: 20px;
    color: rgb(255, 255, 255);
}

.contacts_main {
    width: 906px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240, 240, 240);
    border-radius: 30px;
    padding-bottom: 50px;
}

.contacts_main p {
    margin: 0px;
    padding: 30px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.my_fone {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(13, 59, 197);
}

.vk {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    width: 260px;
    margin: auto;
    border: solid 3px rgb(9, 75, 173);
    background-color: rgb(65, 141, 255);
    border-radius: 20px;
    color: rgb(253, 245, 230);

}

@media (max-width: 5248px) {
    .home img {
        width: 1400px;
        height: 1400px;
    }
    .header {
        border-bottom: solid 12px rgb(0, 230, 0);
    }
    
    .header img {
        width: 296px;
        height: 296px;
    }
    button {
        border-radius: 40px;
        font-size: 114px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: solid 8px rgb(255, 255, 255);
    }
    
}

@media (max-width: 3985px) {
    .home img {
        width: 1060px;
        height: 1060px;
    }
    .header {
        border-bottom: solid 9px rgb(0, 230, 0);
    }
    .header img {
        width: 224px;
        height: 224px;
    }
    button {
        border-radius: 30px;
        font-size: 81px;
        padding-left: 36px;
        padding-right: 36px;
        padding-top: 18px;
        padding-bottom: 18px;
        border: solid 6px rgb(255, 255, 255);
    }
}

@media (max-width: 2634px) {
    .home img {
        width: 700px;
        height: 700px;
    }
    .header {
        border-bottom: solid 6px rgb(0, 230, 0);
    }
    .header img {
        width: 148px;
        height: 148px;
    }
    button {
        border-radius: 20px;
        font-size: 55px;
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 14px;
        padding-bottom: 14px;
        border: solid 4px rgb(255, 255, 255);
    }
}

@media (max-width: 1978px) {
    .home img {
        width: 522px;
        height: 522px;
    }
    .header {
        border-bottom: solid 5px rgb(0, 230, 0);
    }
    .header img {
        width: 110px;
        height: 110px;
    }
    button {
        border-radius: 15px;
        font-size: 41px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: solid 3.3px rgb(255, 255, 255);
    }
}

@media (max-width: 1760px) {
    .home img {
        width: 466px;
        height: 466px;
    }
    .header {
        border-bottom: solid 4px rgb(0, 230, 0);
    }
    .header img {
        width: 98px;
        height: 98px;
    }
    button {
        border-radius: 14px;
        font-size: 37px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: solid 3px rgb(255, 255, 255);
    }
}

@media (max-width: 1650px) {
    .home img {
        width: 437px;
        height: 437px;
    }
    .header {
        border-bottom: solid 4px rgb(0, 230, 0);
    }
    .header img {
        width: 92px;
        height: 92px;
    }
    button {
        border-radius: 12px;
        font-size: 35px;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 7px;
        padding-bottom: 7px;
        border: solid 2.67px rgb(255, 255, 255);
    }
}

@media (max-width: 1468px) {
    .home img {
        width: 388px;
        height: 388px;
    }
    .header {
        border-bottom: solid 4px rgb(0, 230, 0);
    }
    .header img {
        width: 82px;
        height: 82px;
    }
    button {
        border-radius: 11px;
        font-size: 31px;
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 6.2px;
        padding-bottom: 6.2px;
        border: solid 3px rgb(0, 230, 0);
    }
}

@media (max-width: 1322px) {
    .home img {
        width: 350px;
        height: 350px;
    }
    .header {
        border-bottom: solid 3px rgb(0, 230, 0);
    }
    .header img {
        width: 74px;
        height: 74px;
    }
    .person {
        padding-top: 120px;
    }
    ul {
        padding-left: 40px;
    }
    ul.ul li {
        padding-right: 30px;
    }
    ul.ul a {
        font-size: 28px;
    }
    button {
        border-radius: 10px;
        font-size: 28px;
    }
}

@media (max-width: 1203px) {
    .home img {
        width: 319px;
        height: 319px;
    }
    .header {
        padding-top: 6px;
        padding-bottom: 5px;
    }
    .header img {
        width: 68px;
        height: 68px;
    }
    .person {
        padding-top: 108px;
    }
    .person_description h1 {
        font-size: 42px;
    }
    .person_description h2 {
        font-size: 34px;
        padding-bottom: 60px;
    }
    ul {
        padding-left: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    ul.ul li {
        padding-right: 30px;
    }
    ul.ul a {
        font-size: 25px;
    }
    button {
        border-radius: 9px;
        font-size: 25px;
    }
}

@media (max-width: 1060px) {
    .home img {
        width: 280px;
        height: 280px;
    }
    .header {
        padding-top: 1px;
        padding-bottom: 0px;
    }
    .header img {
        width: 61px;
        height: 61px;
    }
    .person {
        padding-top: 94px;
    }
    .person_description h1 {
        font-size: 38px;
    }
    .person_description h2 {
        font-size: 31px;
        padding-bottom: 50px;
    }
    ul {
        padding-left: 40px;
    }
    ul.ul li {
        padding-right: 30px;
    }
    ul.ul a {
        font-size: 22px;
    }
    button {
        border-radius: 8px;
        font-size: 22px;
    }
}

@media (max-width: 885px) {
    .home img {
        width: 234px;
        height: 234px;
    }
    .header {
        padding-top: 0px;
    }
    .header img {
        width: 51px;
        height: 51px;
    }
    .person {
        padding-top: 82px;
    }
    .person_description h1 {
        font-size: 33px;
        margin-top: 8px;
    }
    .person_description h2 {
        font-size: 27px;
        padding-bottom: 34px;
    }
    ul {
        padding-left: 34px;
    }
    .ul {
        margin-top: 12px;
        margin-bottom: 10px;
    }
    ul.ul li {
        padding-right: 24px;
    }
    ul.ul a {
        font-size: 20px;
    }
    button {
        border-radius: 7px;
        font-size: 20px;
        border: solid 2px rgb(255, 255, 255);
    }
}

@media (max-width: 760px) {
    .home img {
        width: 200px;
        height: 200px;
    }
    .header {
        border-bottom: solid 2px rgb(0, 230, 0);
    }
    .header img {
        width: 44px;
        height: 44px;
    }
    .person {
        padding-top: 66px;
    }
    .person_description h1 {
        font-size: 30px;
        margin-top: 7px;
    }
    .person_description h2 {
        font-size: 24px;
        padding-bottom: 30px;
    }
    ul {
        padding-left: 27px;
    }
    .ul {
        margin-top: 4px;
        margin-bottom: 6px;
    }
    ul.ul li {
        padding-right: 17px;
    }
    ul.ul a {
        font-size: 17px;
    }
    button {
        border-radius: 6px;
        font-size: 17px;
        padding-left: 6;
        padding-right: 6;
    }
}

@media (max-width: 666px) {
    .home img {
        width: 175px;
        height: 175px;
    }
    .header {
        padding-left: 14px;
    }
    .header img {
        width: 38px;
        height: 38px;
    }
    .person {
        padding-top: 58px;
    }
    .person_description h1 {
        font-size: 27px;
        margin-top: 6px;
    }
    .person_description h2 {
        font-size: 22px;
        padding-bottom: 23px;
    }
    ul {
        padding-left: 16px;
    }
    .ul {
        margin-top: 0px;
        margin-bottom: 4px;
    }
    ul.ul li {
        padding-right: 6px;
    }
    ul.ul a {
        font-size: 15px;
    }
    button {
        border-radius: 5px;
        font-size: 15px;
        margin-right: 30px;
        border: solid 1px rgb(255, 255, 255);
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

@media (max-width: 535px) {
    .home img {
        width: 140px;
        height: 140px;
    }
    .inf {
        margin-top: -6px;
        margin-bottom: 0px;
    }
    .header img {
        width: 30px;
        height: 30px;
    }
    .person {
        padding-top: 48px;
    }
    .person_description h1 {
        font-size: 22px;
        margin-top: 3px;
    }
    .person_description h2 {
        font-size: 18px;
        padding-bottom: 17.5px;
    }
    ul {
        padding-left: 16px;
    }
    .ul {
        height: 40px;
    }
    li.li_home {
        height: 10px;
    }
    .li_about {
        height: 10px;
    }
    .li_resume {
        height: 10px;
    }
    .li_portfolio {
        height: 10px;
    }
    .li_contacts {
        height: 10px;
    }
    ul.ul li {
        padding-right: 6px;
    }
    ul.ul a {
        font-size: 12px;
    }
    button {
        border-radius: 5px;
        font-size: 12px;
    }
}

@media (max-width: 448px) {
    .home img {
        width: 117px;
        height: 117px;
        margin-left: 30px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .inf {
        margin-top: 0px;
        margin-bottom: -1px;
    }
    .header img {
        width: 25px;
        height: 25px;
        margin-top: 10px;
    }
    .header {
        padding-left: 10px;
        border-bottom: solid 1px rgb(0, 230, 0);
        margin-top: -10px;
    }
    .person {
        padding-top: 76.5px;
        display: flex;
        flex-direction: row;
    }
    .person_description h1 {
        margin-top: 3px;
        color: rgb(250, 255, 20);
    }
    .person_description h2 {
        padding-bottom: 17.5px;
        color: rgb(250, 255, 20);
    }
    ul {
        padding-left: 14px;
    }
    ul.ul li {
        padding-right: 6px;
    }
    ul.ul a {
        font-size: 10px;
    }
    button {
        margin-top: 10px;
        border-radius: 5px;
        font-size: 10px;
        margin-right: 20px;
    }
}

@media (max-width: 335px) {
    .home img {
        width: 88px;
        height: 88px;
    }
    .header img {
        width: 19px;
        height: 19px;
    }
    .header {
        padding-left: 10px;
    }
    ul {
        padding-left: 6px;
    }
    ul.ul li {
        padding-right: 2px;
    }
    ul.ul a {
        font-size: 8px;
    }
    button {
        border-radius: 4px;
        font-size: 8px;
        margin-right: 20px;
        margin-left: 6px;
        border: solid 0.9px rgb(255, 255, 255);
        padding-right: 6px;
        padding-left: 6px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

@media (max-width: 270px) {
    .home img {
        width: 70px;
        height: 70px;
    }
    .header img {
        width: 15px;
        height: 15px;
        margin-top: 16px;
    }
    .header {
        padding-left: 5px;
    }
    ul {
        padding-left: 6px;
    }
    .ul {
        height: 34px;
    }
    ul.ul li {
        padding-right: 2px;
    }
    ul.ul a {
        font-size: 6px;
    }
    button {
        margin-top: 16px;
        border-radius: 3px;
        font-size: 6px;
        margin-right: 15px;
        margin-left: 6px;
        border: solid 0.75px rgb(255, 255, 255);
        padding-right: 4px;
        padding-left: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}